{% extends 'layout.html' %}

{% block content %}
<div class="slide-container swiper">
    <div class="slide-content" >
        <div class="card-wrapper swiper-wrapper">
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image" >
                        <img src="assets/images/vincent.jpeg" alt="" class="card-img" style="height: 100%; width: 100%; object-fit: cover; border-radius: 50%; border: 4px solid #4070f4">
                    </div>   
                </div>
                <div class="card-content">
                    <h2 class="name">Vincentius Kowalska</h2>
                    <p class="description">You only live once, but if you do it right, once is enough.</p>
                    <div class="social-media pt-5">
                        <button class="button">
                            <a href="https://instagram.com/vincentkns_?igshid=MTk0NTkyODZkYg==">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </button>
                        <button class="button">
                            <a href="https://www.linkedin.com/in/vincentiuskowalska">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image" >
                        <img src="assets/images/sandi.jpeg" alt="" class="card-img" style="height: 100%; width: 100%; object-fit: cover; border-radius: 50%; border: 4px solid #4070f4">
                    </div>   
                </div>
                <div class="card-content">
                    <h2 class="name">Sandi Ridho</h2>
                    <p class="description">And into the forest I go, to lose my mind and find my soul</p>
                    <div class="social-media pt-5">
                        <button class="button">
                            <a href="https://instagram.com/sandii.ridho?igshid=MTk0NTkyODZkYg==">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </button>
                        <button class="button">
                            <a href="https://www.linkedin.com/in/sandi-ridho-illahi-806977182?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image" >
                        <img src="assets/images/mirza.jpeg" alt="" class="card-img" style="height: 100%; width: 100%; object-fit: cover; border-radius: 50%; border: 4px solid #4070f4">
                    </div>   
                </div>
                <div class="card-content">
                    <h2 class="name">Mirza Albazi</h2>
                    <p class="description">Happiness is when what you think, what you say, and what you do are in harmony</p>
                    <div class="social-media pt-5">
                        <button class="button">
                            <a href="https://www.instagram.com">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </button>
                        <button class="button">
                            <a href="https://www.linkedin.com/in/mirza-muhammad-50427323a/">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image" >
                        <img src="assets/images/fajar.jpeg" alt="" class="card-img" style="height: 100%; width: 100%; object-fit: cover; border-radius: 50%; border: 4px solid #4070f4">
                    </div>   
                </div>
                <div class="card-content">
                    <h2 class="name">Fajar Budiman</h2>
                    <p class="description">Happiness does not come from without, it comes from within.</p>
                    <div class="social-media pt-5">
                        <button class="button">
                            <a href="https://www.instagram.com/fajarr.bd/?utm_source=ig_web_button_share_sheet&igshid=OGQ5ZDc2ODk2ZA==">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </button>
                        <button class="button">
                            <a href="https://linkedin.com">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image" >
                        <img src="assets/images/hartanto.jpeg" alt="" class="card-img" style="height: 100%; width: 100%; object-fit: cover; border-radius: 50%; border: 4px solid #4070f4">
                    </div>   
                </div>
                <div class="card-content">
                    <h2 class="name">Hartanto Prasetyo</h2>
                    <p class="description">Shoutout to my haters, sorry that you couldn’t phase me.</p>
                    <div class="social-media pt-5">
                        <button class="button">
                            <a href="https://www.instagram.com/hartantoprasetyo128/?utm_source=ig_web_button_share_sheet&igshid=OGQ5ZDc2ODk2ZA==">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </button>
                        <button class="button">
                            <a href="https://www.linkedin.com/in/hartanto-prasetyo-421b72218/">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image" >
                        <img src="assets/images/alysa.jpeg" alt="" class="card-img" style="height: 100%; width: 100%; object-fit: cover; border-radius: 50%; border: 4px solid #4070f4">
                    </div>   
                </div>
                <div class="card-content">
                    <h2 class="name">Alysa Dewintan</h2>
                    <p class="description">It’s not about ideas; it’s about making ideas happen</p>
                    <div class="social-media pt-5">
                        <button class="button">
                            <a href="https://google.com">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </button>
                        <button class="button">
                            <a href="https://facebook.com">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-button-next swiper-nav-Btn"></div>
    <div class="swiper-button-prev swiper-nav-Btn"></div>
    <div class="swiper-pagination" style="margin-top: 50px;"></div>
</div>
{% endblock %}