<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LaporBug</title>

    <style>
        body{
            background-color:rgb(6, 9, 89);
        }
        @media only screen and (max-width: 1400px) {
            .underline{
                width: 50% ;
            }
        }
    </style>
</head>
<body>
    <div style="height: 10vh; border-bottom-right-radius: 60px;border-bottom-left-radius: 60px; color: white;">
        <div>
            <h1 style="padding-left: 8%; padding-top: 1%; font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-weight: 800; float: left;">LaporBug</h1>
        </div>
        <div style="padding-top: 2%; " >
            <p style="float: right; padding-right: 5%; font-size: 20px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                <a href="index.php?route=login" style="text-decoration: none; color: white;">Login</a>
            </p>
            <p style="float: right; padding-right: 5%;">
                <a href="index.php?route=registrasi" style="text-decoration: none; color: white; font-size: 20px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Register</a>
            </p>
        </div>
    </div>
    <div class="container" style=" height: 70vh; ">
        <div class="text row" >
            <div class="col-8">
                <p style="padding-top: 20%; font-size: 50px; color: white; font-weight: 700;">Report Your Finding With</p>
                <p style=" font-size: 50px; color: white; font-weight: 700; line-height: 10%;">RKS-308 </p>
                <span class="underline" style=" background-color: rgb(10, 194, 191); position: absolute;height: 1%; margin-top: 1.40%; border-radius: 10px; width: 32%; line-height: 1%;"></span>
                <p style="margin-top: 7%;font-size: 30px; color: white; font-weight: 700;">We are a team that operates in the </p>
                <p style="font-size: 30px; color: white; font-weight: 700; line-height: 10%"> Security Operation </p>
            </div>
            <div class="col-4" style="margin-top: 15%;">
                <img src="assets/images/finding-icon.png" style="width: 100%;height: 40vh;margin-left: 40px; ">
            </div>
        </div>
    </div>

</body>
</html>