{% extends 'layout.html' %}

{% block content %}
<h1>User List</h1>
<br>
<a href="index.php?route=users&action=create" class="btn btn-primary"> Tambah User</a>
<hr>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Action</th> 
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                    <td>
                        <a href="index.php?route=users&action=show&id={{ user.id }}" class="btn btn-info">Show</a>
                        <a href="index.php?route=users&action=edit&id={{ user.id }}" class="btn btn-warning">Edit</a>
                        <a href="index.php?route=users&action=delete&id={{ user.id }}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
